@model FoodRecipes.Models.FoodRecipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FoodRecipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipeBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipeDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodCategories.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecipeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
